@import "tailwindcss";

/* Resetăm marginile și ne asigurăm că tot containerul ocupă 100% din ecran */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Opțional: Setăm fundalul implicit aici ca să nu mai apară dungi albe la scroll */
body {
  background-color: #0f172a; /* Slate-900 */
  color: white;
}